.data {
    text-align: right;
  }
  
.data i {
    width: 20px;
    text-align: center;
  }

.tendenz {
    width: auto;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
  }

.teamname {
    width: auto;
    text-align: left;
    padding-right: 15px;
  }

.platz {
    text-align: right;
    padding-right: 10px;
  }

.punkte {
    text-align: right;
    padding-left: 5px;
  }